<configuration>
  <packageSources>
    <add key="nuget-raptors" value="https://nexus-ci.agtservices.aegon.io/repository/AAM-raptors-nuget/index.json" />
    <add key="aam-nuget-public" value="https://nexus-ci.agtservices.aegon.io/repository/AAM-nuget-public/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <nuget-raptors>
        <add key="Username" value="GUpYQ3v4" />
        <add key="ClearTextPassword" value="ttcZaRt3DKgpNH2-PNemX3pnGe2UkzGisnkbTFKMlnxM" />
      </nuget-raptors>
    <aam-nuget-public>
      <add key="Username" value="GUpYQ3v4" />
      <add key="ClearTextPassword" value="ttcZaRt3DKgpNH2-PNemX3pnGe2UkzGisnkbTFKMlnxM" />
    </aam-nuget-public>
  </packageSourceCredentials>
</configuration>
